{% extends 'base.html' %}
{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <div class="col noPadding d-flex justify-content-end mb-2"></div>
        <ul>
            <li><a href="{% url 'game' %}"> <button type="submit">New Game</button></a></li>
        </ul>
        <iframe seamless="seamless" scrolling="no" id="demo" src="//labs.phaser.io/view-iframe.html?src=src/actions/set xy.js&amp;v=3.18.1" width="800" height="500" allowfullscreen="true"></iframe>

</head>
<body>

    <script>
        var config = {
            type: Phaser.AUTO,
            width: 800,
            height: 500,
            backgroundColor: '#2d2d2d',
            parent: 'phaser-example',
            scene: {
            preload: preload,
            create: create
            }
        };

        var game = new Phaser.Game(config);

        function preload ()
        {
            this.load.image('phaser', 'assets/sprites/phaser2.png');
        }

        function create ()
            {
            var group = this.add.group();

            //  Add an existing Image into the group:

            var image = this.add.image(0, 0, 'phaser');

            group.add(image);

            //  Any action done to the group is now reflected by the Image
            //  For example this will set the position of the image to 400 x 300

            Phaser.Actions.SetXY(group.getChildren(), 400, 300);
        }


    </script>
</body>
</html>
{% endblock %}
